.header,
.scoreUi {
    position: absolute;
}

.menuBase {
    z-index: 50;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(131, 131, 131, 0.542);
    position: relative;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 38rem;
    padding: 2rem 0;
    background-image: url("../../public/assets/hud/menu-background.webp");
    background-position: center;
    border: 2px black solid;
    border-radius: 10px;
}

.mainMenu .gameTitle {
    height: 30%;
}

.menuPicture {
    width: 80%;
}

.menuContent {
    text-align: center;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.menuContent * {
    font-size: 20px;
    padding: 1rem 0;
}

.menuContent .menuButton:hover {
    background-color: rgb(223, 146, 146);
    color: rgb(225, 31, 31);
}

.menuContent .menuButton:active {
    background-color: rgb(74, 3, 3);
    color: rgb(225, 31, 31);
}

.menuButton {
    cursor: pointer;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(222, 202, 202);
    border-radius: 50px;
    border: 3px solid rgb(255, 204, 0);
}
