body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Shantell Sans';
}

.main {
    position: relative;
    background-image: var(--game-background);
    min-height: 100vh;
    overflow: hidden;
}